#menu {
  height: 100%;
  width: 100px;
  position: fixed;
  flex-direction: column;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #00356B;
  text-align: center;
  float: left;
  /* overflow-x: hidden; */
}

#menu-links {
  height: 85%;
  padding-top: 50px;
}

#menu-links a.active {
  display: flex;
  flex-direction: column;

}

#menu-links a {
  color: #A6FFDC;
  text-decoration: underline;
  cursor: pointer;
  font-size: 40px;
}

#sideBarLinkLogOutContainer {
  height: 100%;
  width: 100%;
}

#sideBarLinkLogOutContainer :hover {
  background-color: rednpm;
}


#sideBarLinkLogOut {
  color: #A6FFDC;
  text-decoration: underline;
  cursor: pointer;
  font-size: 40px;
  padding-top: 15px;
}

.sideBarLink {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}