#menu {
  background-color: #00356B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 0em;
  margin-bottom: 15px;
  flex-basis: 20%;
}

#menu-links {
  display: flex;
  padding-left: 1em;
  flex-direction: column;
}

#menu-links a {
  padding-right: 0.5em;
  color: #A6FFDC;
  text-decoration: underline;
  cursor: pointer;
}
  h2{
    margin-left: 25px ;
  }

