#individualMessage {
  flex-basis: 40%;
}

.messageFrom {
  padding: 2em;
}

.messageFrom #userAvatar {
  background-color: white;
  margin: 0.5em;
}
.messageFrom div {
  background-color: lightgray;
  border-radius: 5px;
  padding: 0.15em;
}

.messageTo {
  padding: 2em;
  text-align: right;
}

.messageTo div {
  color: white;
  background-color: #00356b;
  border-radius: 5px;
  padding: 0.15em;
}

footer {
  border-top: 1px solid lightgray;
}
