#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin-left: 255px;
}
#login-form,
input {
  border-radius: 5px;
}
button[type="submit"] {
  margin-top: 15px;
  border: #a6ffdc;
  border-radius: 10px;
  background: #00356b;
  color: #a6ffdc;
}
button:hover {
  margin-top: 15px;
  border: #a6ffdc;
  border-radius: 8px;
  background: #335d89;
  color: #42ffb5;
}
button [type="button"] {
  color: #00356b;
  background: #42ffb5;
  border-radius: 10px;
  margin-left: 180px;
  margin-top: 10px;
}
