#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin-left: 35px;
  
  
}
#lgoin-form,input{
border-radius: 5px;
}
button[type="submit"]{
  margin-top:15px;
  border: #A6FFDC;
  border-radius: 10px;
  background: #00356B ;
  color: #A6FFDC;
}
