.row {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.danger,button,.ghost{
  margin-left: -180px;
  margin-top: 12px;
  

  
}