.row {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.card {
  border-radius: 5px;
}

.insideButton {
  margin-left: 0;
  padding: 0 15px;
}

.editProfile {
  display: flex;
  justify-content: flex-end;
  margin-left: 200px;
}
